%h1 About Honor with Action
%h3 Honor with Action is a grassroots, community based organization whose mission is to honor through action all victims of gun violence and transform our communities. 
 

%p
  This website is dedicated to
  %a{:href => "http://thecoloradoobserver.com/2013/12/colorados-focus-on-claire-davis-writes-new-ending-to-familiar-mass-shooting-tale/"} Claire Davis
  who touched the lives of many Coloradan's after she was shot by a classmate at Araphoe High School on December 13, 2013.
%p 



