%h1 Honor with Action
.row
  .col-md-2.blog-main
  .col-md-8.blog-main
      
    %h3 Honor with Action is a grassroots, community based organization whose mission is to honor through action all victims of gun violence and transform our communities. 
	 
 



.widewrapper.main
  .container
    .row
      .col-md-2.blog-main
      .col-md-8.blog-main
  
        %p Honor with action began one day shortly after the shooting at Arapahoe High school when someone asked me "what are you tolerating?" Much to my shock and shame, the answer that leapt forth to mind was, I am tolerating school shootings.

        %p There it was, the elephant was out in the room. I had become by my lack of action a co-conspirator to the endless stream of school shootings. I complained about the lack of action from my elected officials. I wanted them to solve the problem so I wouldn't have to get my hands dirty.
        
        %p I lived through the horror of Columbine, Platte Canyon High School, a shooting at a theatre less than a mile from my house where 12 people were gunned down. Five months later I watched in horror as 20 children and six teachers were murdered. I wondered how high would the body count have to become before Washington would be compelled to act.

        %p For me the tipping point was another shooting in my community. Claire Davis, a young vibrant girl in her senior year of high school was gunned down because she was in the wrong place at the wrong time. The only thing Claire did wrong that day was to go to school. I had done nothing and now another person in my community was fighting for her life.

        %p That was it for me. I couldn't wait for the next school shooting and there will be another one and we will weep again and wonder what will it take for someone else to solve this problem. I don't pretend to have an answer to this and I can't wait any more. I choose to honor Claire with action.

        %p I picked up the phone and called my state congresswoman, my Colorado state senator. I called my congressman and senators in Washington. I left a message with the Governor of Colorado. I have received no response from any of them yet.

        %p Tomorrow I will join thousands of Coloradans at Claire's memorial and we will celebrate and honor her life. 

        %p Tomorrow this website will launch for Claire and I invite you to pledge to take action to honor Claire. I don't know what that will look like for each of you.

        %p Maybe taking action will be as simple as smiling at a stranger that you pass during the day. Maybe you be inspired to perform a random act of kindness. Maybe you will be inspired to a life of service. I hope you will join with me and take action with honor for Claire.

        %p
          Follow Honor with Action on
          %a#active{:href => "https://twitter.com/honorwithaction"} Twitter
          and tweet your intentions to honor Claire using the hashtags #honorwithaction, #ClaireDavis, #FLRC
  

  		
  