%h1 Honor with Action

%h3
  %em On December 13, 2013 another school shooting occurred at a high school in Colorado. A young girl, armed only with kindness, who loved horses was shot at point blank range and passed away eight days later. 

%h4
  %em This website is dedicated to
  %a#active{:href => "http://thecoloradoobserver.com/2013/12/colorados-focus-on-claire-davis-writes-new-ending-to-familiar-mass-shooting-tale/"} the life of Claire Davis
  who touched the lives of many Coloradan's after she was shot by a classmate at Araphoe High School.
  %h4 Please take a minute and sign the pledge to honor Claire with action, whatever that looks like for you.

  %h5
  = link_to 'Sign the pledge', new_pledge_path, class: "btn btn-primary"


