%h1 Honor with Action

%p
  %em On December 13, 2013 another school shooting occurred at a high school in Colorado. A young girl who loved horses was shot at point blank range and passed away eight days later.  This website has been built in honor of Claire Davis.  Please take a minute to pledge to honor Claire with action, whatever that looks like for you.

%br

= link_to 'Sign the pledge', new_pledge_path

