%h1 Honor with Action

%p
  %em On December 13, 2013 another school shooting occurred at a high school in Colorado. A young girl who loved horses was shot at point blank range and passed away eight days later. 

  %p
  This website is dedicated to
  %a#active{:href => "http://thecoloradoobserver.com/2013/12/colorados-focus-on-claire-davis-writes-new-ending-to-familiar-mass-shooting-tale/"} Claire Davis
  who touched the lives of many Coloradan's after she was shot by a classmate at Araphoe High School on December 13, 2013.
  %p Please take a minute to pledge to honor Claire with action, whatever that looks like for you.

  %br

= link_to 'Sign the pledge', new_pledge_path

