<%# add navigation links to this file %>
<li><a href="/pledges/new.html">Sign the Pledge</a></li>
<li><a href="/static_pages/about.html">About</a></li>
<!-- <li><a href="/forums.html">Forum</a></li> -->

<% if user_signed_in? %>
  <!-- <li><%= link_to 'Create Topic', new_forum_path %></li> -->
  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
  
<% end %>

